.modal-footer{
  		text-align: center;
  		border-radius: 5px;
      border:none !important;
  		width: 100%;
  		color: black;
  		position: absolute;   
  		z-index: 100;
  		bottom: 0;
  		font-size: 21px;
      text-align: center;
}

body{
  /* The image used */
  /*background-image: url(../img/fondo.jpg) ;*/
}

.centrar{
  
}

.margensuperior{
  margin-top: 2em;
}

.centrar{
  margin-top: 10%;
}

.col-centrada{
    float: none;
    margin: 0 auto;
}
